<div class="banner">
  <div class="container-hero">
    <h1><strong>Save any kind of movies</strong></h1>
  </div>
</div>
<br>
<%# Search form %>
<div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search Movie" aria-label="Search movie" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>

<%# Cards grid %>
<div class="container py-5">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("list_background.jpeg") %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
